<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Cadastro de Serviços</title>

<style>
body { background:#0b0b0b; color:white; text-align:center; font-family:Arial; }

input, button {
    padding:10px;
    margin:5px;
    border-radius:6px;
    border:none;
}

button {
    background:#facc15;
    color:black;
    font-weight:bold;
}

.card {
    background:#111827;
    padding:15px;
    margin:10px auto;
    border-radius:10px;
    border:1px solid #facc15;
    width:300px;
}
</style>
</head>

<body>

<h1>🧼 Cadastro de Serviços</h1>

<form method="POST">
<input name="nome" placeholder="Nome do serviço"><br>
<input name="valor" placeholder="Valor"><br>
<button>Salvar</button>
</form>

<h2>Serviços cadastrados</h2>

{% for s in servicos %}
<div class="card">
<p>{{s[1]}} - R${{s[2]}}</p>
</div>
{% endfor %}

<a href="/"><button>🔙 Voltar</button></a>

</body>
</html>