{% extends "base.html" %}

{% block title %}Radar{% endblock %}
{% block titulo %}Radar Meteorológico{% endblock %}
{% block subtitulo %}Tempo em tempo real{% endblock %}

{% block actions %}
<a href="/" class="button-link">
    <button type="button">Voltar</button>
</a>
{% endblock %}

{% block content %}

<div class="page-card">

    <iframe 
        src="https://embed.windy.com/embed2.html?lat=-29.68&lon=-51.13&zoom=8&overlay=rain"
        style="
            width: 100%;
            height: calc(100vh - 160px);
            border: none;
            border-radius: 16px;
        ">
    </iframe>

</div>

{% endblock %}
